section.bio {
	font-family:'mtt_milanoregular';
	.bio-intro {
		padding:5rem 2rem 5rem 2rem;
		p {
			font-size:1.2em;
			color:#405180;
			margin:2rem auto;
		}
		hr {
			width:50%;
			border:1px solid lightgrey;
		}
	}
	.bio-text {
		padding:5rem 2rem 5rem 2rem;
	}
	.block-orphan-img {
		//height:30rem;
		background:url(../../images/orphan-studios.jpg);
		background-size:cover;
		background-position:center;
		.column.full {
			height:100%;
			background:rgba(0,0,0,0.5);
			color:white;
			opacity:1;
			transition:opacity 0.2s;
			padding:5rem 1rem 5rem 1rem;
			p {
				font-size:1.3em;
			}
			h3 {
				margin:0;
				text-transform:uppercase;
			}

		}
	}
	.block-ghost-img {
		//height:20rem;
		background:url(../../images/ghost-studios.jpg);
		background-size:cover;
		background-position:center;
		.column.full {
			height:100%;
			background:rgba(0,0,0,0.5);
			color:white;
			opacity:1;
			transition:opacity 0.2s;
			padding:5rem 1rem 5rem 1rem;
			p {
				font-size:1.3em;
			}
			h3 {
				margin:0;
				text-transform:uppercase;
			}
		}
	}
}

/*.no-touch {
	section.bio {
		.block-orphan-img, .block-ghost-img {
			&:hover {
				.column.full {
					opacity:1;
				}
			}
		}
	}
}*/