footer {
	.clearfix {
		background:white;
		.column.full {
			padding:3rem 1rem 3rem 1rem;
			p {
				color:#405180;
				margin:0;
				font-family:'mtt_milanoregular';
				&:nth-child(2) {
					float:right;
				}
			}
		}
	}
}