@import "variables";

.v-align:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: '';
}
.v-align > .v-aligned {
    display: inline-block;
    vertical-align: middle;
    //text-align: left;
}
.text-center {
	text-align:center;
}
.label {
	width:100%;
	background:$primary-color;
	color:white;
	text-transform:uppercase;
	text-align:center;
    font-family:$primary-font-reg;
    h2 {
        margin-top:0.5rem;
        margin-bottom:0.5rem;
    }
}
.section-header {
    padding-top:4rem;
    i {
        color:$secondary-color;
        font-size:1.6em;
    }
    h2 {
        text-transform:uppercase;
        font-family:$primary-font-bold;
    }
    hr {
            width:4rem;
            border:1px solid lightgrey;
    }
}
hr.section-hr {
    border:1px solid $secondary-color;
    width:50%;
}