header {
	position:relative;
	//padding:4rem 0 6rem 0;
	//height:100vh;
	//background:#56a9d8;
	background:#56a9d8;
	/*.header-bg {
		background:#56a9d8;
		height:26rem;
		position:absolute;
		width:100%;
		top:0;
		z-index:-1;
		//box-shadow: inset 0 -10px 10px -10px #595959;
		display:none;
	}*/
	.header-text {
		width:100%;
		font-family:'ars_maquette_problack';
		text-transform:uppercase;
		color:white;
		text-align:center;
		padding:5rem 0 9rem 0;
		h1 {
			margin-top:0;
			margin-bottom:-0.3em;
			font-weight:normal;
		}
		.column.full {
			&:first-child {
				font-size:2.1em;
				text-shadow:  
		  0 -1px 0px rgba(grey, 0.6),
		  0 -2px 0px rgba(grey, 0.8);
			}
			&:nth-child(2) {
				font-size:1.37em;
				margin-bottom:0.3em;
				text-shadow:  
		  0 -1px 0px rgba(grey, 0.6),
		  0 -2px 0px rgba(grey, 0.8);
			}
			&:nth-child(3) {
				font-size:0.83em;
				font-family:'mtt_milanobold';
				color:#306177;
			}
		}
	}
	.header-photo {
		background-image:url(../../images/peter.jpg);
		background-size:cover;
		background-position:100% 50%;
		width:10rem;
		height:10rem;
		position:absolute;
		//bottom:-5rem;
		left:50%;
		-ms-transform: translate(-50%, -50%); /* IE 9 */
	   	-webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
	    transform: translate(-50%, -50%);
		border-radius:50%;
		border:1rem solid white;
		//box-shadow: inset 0 2px 2px rgba(0,0,0,0.6);
	}
}