// bower:scss
// endbower


@import "grid";
@import "header";
@import "bio";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
	font-size:16px;
}