@media screen and (min-width:48rem) {
	section.bio {
		.block-orphan-img, .block-ghost-img {
			.column.full {
				background:rgba(0,0,0,0.4);
				p {
					border:1px solid lightgrey;
					padding:3rem;
					background:rgba(0,0,0,0.6);
				}
			}
		}
	}
}
@media screen and (min-width:58rem) {
	section.bio {
		.block-orphan-img, .block-ghost-img {
			.column.full {
				padding:7rem 1rem 7rem 1rem;
				p {
					width:70%;
					margin:0 auto;
				}
			}
		}
	}
}