@media screen and (min-width: 30rem) {
	section.contact {
		.instafeed {
			.column {
				.instafeed-img {
					&:first-child {
						width:33.3%;
					}
					&:nth-child(2) {
						width:33.3%;
					}
					&:nth-child(3) {
						width:33.3%;
					}
					&:nth-child(4) {
						width:50%;
					}
					&:nth-child(5) {
						display:inline-block;
						width:50%;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 40rem) {
	section.contact {
		.contact-form {
			width:90%;
		}
	}
}
@media screen and (min-width: 48rem) {
	section.contact {
		.instafeed {
			.column {
				#instafeed {
					.instafeed-img {
						width:20%;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 56rem) {
	section.contact {
		.contact-form {
			width:70%;
		}
	}
}
@media screen and (min-width: 100rem) {
	section.contact {
		.contact-form {
			width:50%;
		}
		.instafeed {
			.column {
				#instafeed {
					.instafeed-img {
						width:12.5%;
						&:nth-child(6) {
							display:inline-block;
						}
						&:nth-child(7) {
							display:inline-block;
						}
						&:nth-child(8) {
							display:inline-block;
						}
					}
				}
			}
		}
	}
}

