@media screen and (min-width:40rem) {
	hr.section-hr {
		width:30%;
	}
}
@media screen and (min-width:48rem) {
	.label {
		width:20%;
	}
}
@media screen and (min-width:100rem) {
	hr.section-hr {
		width:20%;
	}
}