@media screen and (min-width:20rem) {
	header {
		.header-text {
			font-size:1.2em;
		}
		.header-bg {
			height:28rem;
		}
	}
}
@media screen and (min-width:33rem) {
	header {
		.header-text {
			font-size:1.4em;
		}
		.header-bg {
			height:30rem;
		}
	}
}
@media screen and (min-width:40rem) {
	header {
		.header-text {
			font-size:1.7em;
		}
		.header-bg {
			height:32rem;
		}
	}
}
@media screen and (min-width:60rem) {
	header {
		.header-text {
			font-size:2em;
		}
		.header-bg {
			height:35rem;
		}
	}
}