@media screen and (min-width:20rem) {
	header {
		.header-text {
			font-size:1.2em;
		}
	}
}
@media screen and (min-width:33rem) {
	header {
		.header-text {
			font-size:1.4em;
		}
	}
}
@media screen and (min-width:40rem) {
	header {
		.header-text {
			font-size:1.7em;
			padding-bottom:11rem;
		}
		.header-photo {
			width:12rem;
			height:12rem;
		}
	}
	.no-touch {
		header {
			.header-photo {
				&:hover {
					width:13rem;
					height:13rem;
					box-shadow: 0 -5px 5px rgba(0,0,0,0.2);
				}
			}
		}
	}
}