nav {
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	//width:100%;
	//width:6rem;
	text-align:center;
	background:rgba(0,0,0,0.2);
	ul {
		padding:0;
		margin:0;
		//display:none;
		height:auto;
		a {
			text-decoration: none;
			color:#56a9d8;
			font-size:2em;
			font-family:'mtt_milanoregular';
			transition:color 0.2s;

			li {
				list-style-type:none;
				//border:1px solid white;
				background:rgba(255, 255, 255, 0.9);
				width:5rem;
				height:5rem;
				text-align:left;
				padding-left:2rem;
				vertical-align:middle;
				line-height:5rem;
				margin:0.5rem;
				transition:transform 0.2s, background 0.2s;
				position:relative;
				&:active {
					transform:scale(1.1);
					background:rgba(255, 255, 255, 1);
				}
			}
		}
	}
	a#nav-toggle {
		float:left;
		i {
			font-size:2.5em;
			color:white;
		}
	}
}
.no-touch {
	nav {
		ul {
			a {
				&:hover {
					color:#56a9d8 - 30;
					li {
						transform:scale(1.1);
						background:rgba(255, 255, 255, 1);
						&:active {
							transform:scale(1);
							background:rgba(255, 255, 255, 1);
						}
					}
				}
			}
		}
		a#nav-toggle {
			&:hover {
				i {
					color:white - 10;
				}
			}
		}
	}
}