section.samples {
	#toneden {
		padding-top:4rem;
		padding-bottom:4rem;
		.tdrow.social, .cover-img, .artist-name, .info {
			display:none;
		}
		.track-info-name {
			font-size:1.5em;
			font-family:'mtt_milanoregular';
			&:hover {
				color:#405180;
			}
		}
		.playlist {
			max-height:none;
			overflow-y:auto;
			.playing {
				color:#405180;
			}
		}
		.cover {
			height:3rem;
		}
		.player {
			max-width:48rem;
		}
		.controls {
			border:0;
		}
	}
}