section.success {
	position:absolute;
	width:100%;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	p {
		font-size:2em;
		font-family:'mtt_milanoregular';
		color:#FF775C;
	}
	button {
		width:10rem;
		height:5rem;
		background:white;
		border:2px solid #56a9d8;
		color: #56a9d8;
		text-transform:uppercase;
		font-family:'mtt_milanobold';
		transition: all 0.2s;
		&:active {
			outline:none;
		}
	}
}

.no-touch {
	section.success {
		button {
			&:hover {
				background:#FF775C;
				border:0;
				color:white;
			}
		}
	}
}