@import "variables";

section.success {
	position:absolute;
	width:100%;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	p {
		font-size:2em;
		font-family:$primary-font-reg;
		color:$secondary-color;
	}
	button {
		width:10rem;
		height:5rem;
		background:white;
		border:2px solid $primary-color;
		color: $primary-color;
		text-transform:uppercase;
		font-family:$primary-font-bold;
		transition: all 0.2s;
		&:active {
			outline:none;
		}
	}
}

.no-touch {
	section.success {
		button {
			&:hover {
				background:$secondary-color;
				border:0;
				color:white;
			}
		}
	}
}