$primary-color: #56a9d8;
$secondary-color: #FF775C;
$tertiary-color: #405180;

$header-font: 'ars_maquette_problack', Arial, sans-serif;
$primary-font-reg: 'mtt_milanoregular', sans-serif;
$primary-font-bold: 'mtt_milanobold', sans-serif;