$primary-color: #56a9d8;
$secondary-color: #FF775C;

$header-font: 'ars_maquette_problack', Arial, sans-serif;
$primary-font-reg: 'mtt_milanaregular', sans-serif;
$primary-font-bold: 'mtt_milanobold', sans-serif;